<div *ngIf="loadedComments.length < 1">NO COMMENTS</div>
<div *ngIf="loadedComments.length >=1">
  <div *ngFor="let comment of loadedComments">
    <div class="row">
      <div class="col-5">
        <p>{{ comment.user.firstName + ' ' + comment.user.lastName | titlecase }} commented:</p>
      </div>
      <div class="col-5">
        <p>{{ comment.comment }}</p>
      </div>
      <div class="col-1">
        <button *ngIf="currentUser.id == comment.user.id" mat-button mat-dialog-close mat-dialog-close="false" (click)="deleteComment(comment.id)">	<mat-icon>delete</mat-icon>delete</button>
      </div>
      <hr>
    </div>