<div class="form-card">
  <mat-card class="mat-card">
    <mat-card-header class="header">
      <mat-card-title class="font-title-m">Log in</mat-card-title>
    </mat-card-header>

      <mat-card-content class="content">
        <form method="post" [formGroup]="signInForm" (ngSubmit)="signIn()">
          <mat-form-field class="inputs">
            <mat-label>Email</mat-label>
            <input type="email" 
            matInput class="form-control" id="InputEmail" aria-describedby="emailHelp"
              formControlName="email">
            <mat-error>
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="inputs">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" class="form-control" id="InputPassword" formControlName="password" name="password" required>
            <mat-error>
              Password is <strong>required</strong>
            </mat-error>
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          
          
          <button mat-flat-button color="primary" type="submit">Submit</button>
          <div class="not-registered">
            <p>Not registered yet? </p>
            <br>
            <a class="create-account" href="signup"> Create an account</a>
          </div>
        </form>
      </mat-card-content>
      </mat-card>

</div>  