<div class="container">
<h1>About page</h1>
<p>
    Page development date 07/06/2022.
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius repudiandae soluta laudantium eos nisi aspernatur sapiente fugit molestias rem! Obcaecati distinctio similique dolor, officia officiis eos velit veritatis quae doloribus.
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius repudiandae soluta laudantium eos nisi aspernatur sapiente fugit molestias rem! Obcaecati distinctio similique dolor, officia officiis eos velit veritatis quae doloribus.
</p>
</div>