table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

.post-image {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.action{
  /* justify-content: flex-end; */
  text-align: end;
}